div{ margin: 25em;
     margin-top: 1em;
     margin-bottom: 2em;
}

body{
    color: rgb(235, 36, 36);
    background-color: black;
    line-height: 2.0;
}

h1{text-align: center;
   margin-bottom: 30px;
   background-color: rgb(62, 62, 62);
}

h2{
    text-align: center;
    color:  #a72ccc;
    margin-top: 30px;

}

p{
    text-align: justify;
    color: aliceblue;
}
